* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #4edabd;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: lobster, sans-serif;
    font-size: 450%;
    color: #0a1b18;
}

p {
    font-family: bona nova, sans-serif;
    font-size: 150%;
    color: #0a1b18;
}

div {
    font-family: bona nova, sans-serif;
    font-size: 110%;
    color: #0a1b18;
}

/* buttons styling */
button {
    cursor: pointer;
    font-family: bona nova, sans-serif;
    font-size: 200%;
    color: #0a1b18;
    padding: 5px;
    margin: auto;
}

button.hide {
    display: none;
}

button:hover {
    transform: scale(1.1);
    color: #dA4e6b;
    background-color: #0a1b18;
}

/* centering game area on the screen */
.game {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid #0a1b18;
    background-color: blanchedalmond;
    padding: 10px;
    margin-top: 20px;

}

.stats-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;
}

.game-box {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 10px;
    margin-bottom: 1rem;
}

/* adding style to the game cards */
.memory-card {
    width: 100px;
    height: 100px;
    position: relative;
    perspective: 1000px;
    cursor: pointer;
}

.memory-card .front-face {
    transform: rotateY(-180deg);
}

.memory-card.flip .front-face {
    transform: rotateY(0deg);
} 

.memory-card.flip .back-face {
    transform: rotateY(180deg);
}

.memory-card .back-face {
    background-image: url(assets/images/question_mark.png);
}

.front-face,
.back-face {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.controls-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

