* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #4edabd;
}

h1 {
    font-family: lobster, sans-serif;
    font-size: 450%;
    color: #0a1b18;
    text-align: center;
}

div {
    font-family: bona nova, sans-serif;
    font-size: 110%;
    color: #0a1b18;
}

/* buttons styling */
button {
    cursor: pointer;
    font-family: bona nova, sans-serif;
    font-size: 120%;
    color: #0a1b18;
    padding: 5px;
}

button:hover {
    transform: scale(1.1);
    color: #dA4e6b;
    background-color: #0a1b18;
}

/* centering game area on the screen */
.game {
    position: absolute;
    box-sizing: border-box;
    padding: 3px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: antiquewhite;
    border: 3px solid #0a1b18; 
}

.game-box {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 10px;
    margin-bottom: 1rem;
}

/* adding style to the game cards */
.memory-card {
    background-color: transparent;
    width: 100px;
    height: 100px;
    position: relative;
    perspective: 1000px;
    cursor: pointer;
}

.memory-card.flip .front-face,
.memory-card.flip .back-face {
    transform: rotateY(0deg);
}

.front-face,
.back-face {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.front-face {
    transform: rotateY(-180deg);
}

