@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital@1&family=Lobster&display=swap');
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #bcd8e3;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: lobster, sans-serif;
    font-size: 350%;
    color: #0a1b18;
}

p {
    font-family: bona nova, sans-serif;
    font-size: 150%;
    color: #0a1b18;
}

#match-them {
    width: 300px;
    height: 300px;
    border: 5px solid #0a1b18;
    margin-top: 10px;
}

div {
    font-family: bona nova, sans-serif;
    font-size: 110%;
    color: #0a1b18;
}

/* buttons styling */
button {
    cursor: pointer;
    font-family: bona nova, sans-serif;
    font-size: 150%;
    color: #0a1b18;
    padding: 5px;
    margin: auto;
}

#start {
    font-size: 350%;
}

button.hide {
    display: none;
}

button:hover {
    transform: scale(1.1);
    color: #70b879;
    background-color: #0a1b18;
}

/* centering game area on the screen */
.game {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid #0a1b18;
    background-color: #aad9a5;
    padding: 10px;
    margin-top: 50px;
    overflow: hidden;
}

.stats-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;
}

.game-box {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 10px;
    margin-bottom: 1rem;
}

/* adding style to the game cards */
.memory-card {
    width: 100px;
    height: 100px;
    position: relative;
    perspective: 1000px;
    cursor: pointer;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}

.shake {
    animation-name: shake;
}

.no-click {
    pointer-events: none;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-10px) rotate(-5deg); }
    50% { transform: translateX(10px) rotate(5deg); }
    75% { transform: translateX(-10px) rotate(-5deg); }
    100% { transform: translateX(0); }
}
  
.memory-card .front-face {
    transform: rotateY(-180deg);
}

.memory-card.flip .front-face {
    transform: rotateY(0deg);
} 

.memory-card.flip .back-face {
    transform: rotateY(180deg);
}

.memory-card .back-face {
    background-image: url(assets/images/paw.png);
}

.front-face,
.back-face {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.controls-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20vh;
}

#popup-message {
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.popup-box {
    background-color: #dff6ca;
    padding: 20px;
    border: 5px solid #0a1b18;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.popup-box h2 {
    font-family: bona nova, sans-serif;
    font-size: 350%;
    color: #0a1b18;
    text-align: center;
    margin-bottom: 10px;
}

.popup-box p {
    font-size: 200%;
    font-family: bona nova, sans-serif;
    color: #0a1b18;
    text-align: center;
    margin-bottom: 10px;
}

#popup-close-btn {
    font-family: bona nova, sans-serif;
    font-size: 150%;
    color: #0a1b18;
    padding: 5px;
    margin: auto;
    cursor: pointer;
    text-align: center;
    margin-bottom: 10px;
}
  
#popup-close-btn:hover {
    transform: scale(1.1);
    color: #70b879;
    background-color: #0a1b18;
}

@media screen and (max-width: 800px) {
    .game {
        margin-top: 60px;
        margin-bottom: 0px;
    }

    .game-box {
      grid-gap: 5px;
      margin-top: 0;
      padding-bottom: 5px;
      padding: 5px;
      margin-top: 10px;
    }

    .stats-box {
      margin-bottom: 2px;
    }
  
    .memory-card {
      width: 80px;
      height: 80px;
    }

    h1 {
        font-size: 300%;
    }
    
    p {
        font-size: 150%;
    }
    
    div {
        font-size: 110%;
    }
    
    button {
        font-size: 100%;
        padding: 0.5rem;
    }
    
    #start {
        font-size: 150%;
    }

    .popup-box h2 {
        font-size: 200%;   
    }
    
    .popup-box p {
        font-size: 100%;
    }

    #popup-close-btn {
        font-size: 110%;
    }
}

@media screen and (max-width: 480px) {
    .memory-card {
        width: 40px;
        height: 40px;
    }

    h1 {
        font-size: 200%;
    }
    
    p {
        font-size: 110%;
    }
    
    div {
        font-size: 100%;
    }

    #match-them {
        width: 150px;
        height: 150px;
        margin-top: 10px;
        border: 3px solid #0a1b18;
    }
}
    
    
    
    
    
    
    

   